h3{
    position: relative;
    left: 500px;
      color: #dddddd;
  }
  table {
      background-color: rgb(35, 36, 37);
      position: relative;
      left: 400px;
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 50%;
  }
  th,td {
    color: aqua;
    border: 1px solid honeydew;
    text-align: center;
    }
  tr:nth-child(even) {
    background-color: #4b4b4b;
  }
  